@model ClientePathBit.Models.Cliente
@{
            //Programação principal

}

<title>Confirmação de Cadastro</title>
<style>
    
    .message {
        font-size: 24px; /* Texto grande */
        color: #521262; /* Cor do texto em #521262 */
    }
</style>
<div class="message">
    <p>O seu cadastro foi processado e está em análise, fique atento ao seu e-mail para os próximos passos.</p>
</div>

